* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.footer, .push {
  height: 60px;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div#audio-player {
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #000;
}

section.controller {
  width: 100%;
  margin: 0 auto;
  min-width: 970px;
  display: block;
}

section.controller > figure {
  float: left;
}

figure.audio-controller {
  display: block;
  vertical-align: middle;
  margin: 10px;
  margin-left: 5%;
}

div.controller-button {
  display: inline-block;
  padding: 5px;
}

.controls > i {
  width: 130px;
  color: #000;
  margin-left: 100px;
}

.controls > i:hover {
  cursor:pointer;
}

figure.audio-timeline {
  padding-left: 20px;
  display: block;
  float: left;
  vertical-align: middle;
  margin-top: 10px;
}


div.audio-time-container {
  float: left;
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
}

div.audio-time {
  letter-spacing: 0.08em;
}

.audio-time {
  color: #f50;
}

.audio-duration {
  color: #555;
}

div.audio-progress-container {
  float:left;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

div.audio-progress {
  display: inline-block;
  height: 15px;
  cursor: pointer;
}

div.audio-progress:hover >
  div.audio-progress-bar-handle {
    opacity: 1;
}


div.audio-progress-background {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 2px;
  background: #bbb;
}

div.audio-progress-bar {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background: #f50;
}

div.audio-progress-bar-handle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #f50;
  border-radius: 100%;
  height: 7px;
  width: 7px;
  background-color: #f50;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 150ms;
}


figure.audio-id {
  display: block;
  float: left;
  font-size: 14px;
  color: #555;
  vertical-align: bottom;
  text-align: center;
  min-width: 300px;
  padding-top: 20px;
  padding-left: 75px;
}

div.current-audio {
  float: left;
  margin-left: 15px;
}

div.player-title {
  font-weight: bold;
}
