* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.footer, .push {
  height: 60px;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div#audio-player {
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #000;
}

section.controller {
  width: 100%;
  margin: 0 auto;
  min-width: 970px;
  display: block;
}

section.controller > figure {
  float: left;
}

figure.audio-controller {
  display: block;
  vertical-align: middle;
  margin: 10px;
  margin-right: 100px;
}

div.controller-button {
  display: inline-block;
  padding: 5px;
}

.controls > i {
  color: #000;
  margin-left: 100px;
}

.controls > i:hover {
  cursor:pointer;
}

figure.audio-timeline {
  padding-left: 50px;
  display: block;
  float: left;
  vertical-align: middle;
  margin-top: 10px;
}


div.audio-time-container {
  float: left;
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

div.audio-time {
  letter-spacing: 0.08em;
}

.audio-time {
  color: #f50;
}

.audio-duration {
  color: #555;
}

figure.audio-id {
  display: block;
  float: left;
  font-size: 16px;
  color: #555;
  vertical-align: bottom;
  text-align: center;
  min-width: 300px;
  padding-top: 20px;
  padding-left: 100px;
}
