.header {
  color: #aaa;
  font-weight: 300;
}

.header a {
  display: block;
  padding: 13px 15px 0 15px;
  text-decoration: none;
  vertical-align: bottom;
}

.header-nav {
  border-top: 2px solid #f50;
  height: 52px;
  margin: 0 auto;
  width: 1000px;
  height: 300px;
  display: block;
  background-image: url('drums.jpg');
  background-size: cover;
}

.header-logo-welcome {
  text-decoration: none;
  float: left;
  width: 175px;
  color: #fff;
}

.header-logo-welcome > a > i, .header-logo > a > i {
  color: #fff;
}

.header-logo {
  background: #f50;
  margin-left: 30px;
  padding-top: 1px;
  padding-bottom: 9px;
  text-decoration: none;
  float: left;
  width: 165px;
  color: #fff;
}

i.fa-volume-up {
  width: 20px;
  display: inline-block;
  float: left;
  vertical-align: baseline;
  margin-top: 3px;
  color: #fff;
}

.logo-text {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  float: left;
}

i {
  color: #fff;
}

a.explore-link {
  float: left;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #aaa;
  height: 30px;
  margin-top: 0.5px;
  font-size: 18px;
  margin-left: 15px;
}

a.explore-link:hover {
  color: #fff;
}

.header-list {
  float: right;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
}

.header-list-active {
  float: right;
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  background-color: #000;
  color: #fff;
}

.header-list > li {
  float: left;
  display: block;
  padding-right: 10px;
  padding-bottom: 5px;
}

.header-list > div {
  float: left;
  display: block;
  padding-right: 10px;
  padding-bottom: 5px;
}

.header-list-active > div {
  float: left;
  display: block;
  padding-right: 10px;
  padding-bottom: 5px;
}

.background {
  background-image: none;
  background: #333;
  margin: 0 auto;
  width: 1000px;
  height: 44px;
  display: block;
}

.header-image {
  height: 29px;
  width: 29px;
  border: 1px solid #fff;
  vertical-align: middle;
  margin-top: 7px;
}

#header-user-id {
  margin-right: 7px;
  padding: 10px;
  padding-top: 13px;
  font-size: 18px;
}

.header-button {
  margin-top: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #f50;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  font-size: 12px;
}

.header-list:hover {
  color: #fff;
}

.dropdown {
  position: absolute;
  bottom: -144px;
  left: 0;
  right: 0;
  background: #000;
  color: #aaa;
  font-size: 14px;
}

.dropdown-li {
  padding: 10px;
}

.dropdown-li:hover {
  background: #333;
  color: #fff;
}

.empty-display {
  content: "";
}
