.header {
  color: #fff;
}

.header a {
  display: block;
  padding: 10px;
  text-decoration: none;
  vertical-align: bottom;
}

.header-nav {
  border-top: 2px solid #f50;
  margin: 0 auto;
  width: 90%;
  height: 300px;
  display: block;
  background-image: url('hbo_concert.jpg');
  background-size: cover;
}

.header-logo {
  text-decoration: none;
  float: left;
}

i {
  color: #fff;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  display: block;
  padding-right: 10px;
  padding-bottom: 5px;
}

.background {
  background-image: none;
  background: #333;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  display: block;
}

.header-image {
  height: 29px;
  width: 29px;
  border: 1px solid #fff;
  vertical-align: middle;
  margin-top: 5px;
}

#header-user-id {
  margin-right: 7px;
  padding: 13px;
}
