.track-player {
  margin: 0 auto;
  height: 160px;
  width: 50%;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.track-player-details > li {
  padding: 10px 20px;
}

.track-player-artist {
  font-size: 14px;
  color: #ccc;
}

.track-player-title {
  font-size: 20px;
  color: #aaa;
}

.track-player-title:hover {
  font-size: 20px;
  color: #aaa;
  background: black;
}
