.track-index {
  margin: 0 auto;
  width: 50%;
  float: left;
  margin-left: 5%;
}

.track-index > ul {
  margin-bottom: 60px;
}

.track-index > ul > li {
  padding: 10px;
}

.track-index-header {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

.track-index-item {
  height: 125px;
  width: 90%;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.track-index-item-button {
  float: left;
}

.track-index-item-button > i {
  margin-top: 25px;
  margin-left: 40px;
  color: #f50;
}

.track-index-item-button:hover {
  cursor: pointer;
}

.track-index-item-details {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

.track-index-item-details > li {
  padding: 10px 20px;
}

.track-index-item-artist {
  font-size: 14px;
  color: #aaa;
}

.track-index-item-title {
  font-size: 20px;
  color: #555;
}

.track-index-item-title:hover {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
