div.index-info-container {
  margin: 0 auto;
  width: 1000px;
}

.track-index {
  margin: 0 auto;
  width: 600px;
  float: left;
}

.track-index > ul {
  margin-bottom: 60px;
}

.track-index-header {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

.track-index-item {
  height: 125px;
  width: 550px;
  padding: 20px 20px 25px 20px;
  border-bottom: 1px solid #ccc;
}

.track-index-item-button {
  float: left;
}

.track-index-item-button > i {
  margin-top: 25px;
  margin-left: 25px;
  color: #f50;
}

.track-index-item-button:hover {
  cursor: pointer;
}

.track-index-item-details {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  width: 400px;
}

.track-index-item-details > li {
  padding: 10px 20px;
}

.track-index-item-artist {
  font-size: 14px;
  color: #aaa;
}

.track-index-item-artist:hover {
  color: #555;
  cursor: pointer;
}

.track-index-item-title {
  font-size: 20px;
  padding-bottom: 5px;
  color: #555;
}

.track-index-item-title:hover {
  color: #000;
  cursor: pointer;
}

.track-index-icons {
  padding-top: none;
}

.follow-track-icon {
  padding-top: 1px;
  display: inline;
  margin-right: 10px;
}

.play-count-icon {
  float: right;
}

i.play-count {
  font-size: 12px;
  color: #aaa;
}

i.rt-index {
  border-radius: 5px;
  width: auto;
  color: #f50;
  padding: 2px 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

i.h-index {
  border-radius: 5px;
  width: auto;
  color: #f50;
  padding: 2px 8px;
  border: 1px solid #ccc;
}

i.e-index {
  border-radius: 5px;
  width: auto;
  color: #f50;
  padding: 2px 8px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

i.t-index {
  border-radius: 5px;
  width: auto;
  color: #f50;
  padding: 2px 8px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

i.fa-retweet:hover, i.fa-heart:hover,
i.fa-pencil-square-o:hover, i.fa-trash-o:hover {
  cursor: pointer;
  background: #ccc;
}

.followed, .liked {
  background: #ccc;
}

.followed:hover, .liked:hover {
  background: #ccc;
  border: 1px solid #000;
}
