.track-banner {
  margin: 0 auto;
  z-index: -1;
  width: 90%;
  height: 250px;
  display: block;
  background: linear-gradient(345deg, #555, #eee);
}

.track-show-play-button {
  margin-top: 50px;
  float: left;
}

.track-show-play-button > i {
  color: #f50;
}

.track-show-play-button:hover {
  cursor: pointer;
}

.track-show-details {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
}

.track-show-details > li {
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #333;
}

.track-show-artist {
  font-size: 18px;
  color: #aaa;
  text-align: left;
}

.track-show-title {
  font-size: 24px;
  color: #fff;
  text-align: left;
}

.days-since-created {
  float: right;
  color: #D4CECB;
  margin-top: 50px;
  padding-right: 100px;
  font-size: 20px;
}

.side-bar {
  float: right;
  margin-right: 5%;
  padding-left: 50px;
  border-left: 1px solid #ccc;
  width: 350px;
  height: 250px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 43px;
}

.track-detail {
  padding: 15px;
}
