.user-banner {
  margin: 0 auto;
  z-index: -1;
  width: 90%;
  height: 250px;
  display: block;
  background: linear-gradient(345deg, #fff, #aaa 50%, #eee);
}

.post-image {
  float:left;
  margin: 30px;
  height: 150px;
  margin-left: -35px;
  width: auto;
}

.user-info {
  margin-top: 30px;
  float: left;
}

.user-text {
  display: block;
  background: #333;
  color: #fff;
  padding: 5px;
  width: auto;
}
