p.welcome-text {
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

.welcome-index {
  margin: 0 auto;
  width: 1000px;
}

.index-tracks {
  margin-bottom: 60px;
}

.welcome-index-items {
  float: left;
}

.welcome-index-item {
  display: block;
  height: 120px;
  width: 250px;
  text-align: center;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.welcome-index-item-details {
  height: 100px;
}

.welcome-index-item-details > li {
  padding: 10px 20px;
}

.welcome-index-item-artist {
  font-size: 12px;
  color: #aaa;
  vertical-align: bottom;
}

.welcome-index-item-title {
  margin-top: 25px;
  font-size: 14px;
  color: #000;
}

.welcome-index-item:hover {
  border: 1px solid #000;
}
