p.welcome-text {
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

.welcome-index {
  margin: 0 auto;
  width: 90%;
}

.welcome-index-item {
  float: left;
  height: 130px;
  width: 180px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.welcome-index-item-details > li {
  padding: 10px 20px;
}

.welcome-index-item-artist {
  font-size: 12px;
  color: #aaa;
}

.welcome-index-item-title {
  margin-top: 25px;
  font-size: 14px;
  color: #000;
}

.welcome-index-item:hover {
  border: 1px solid #000;
}
