p.welcome-text {
  font-size: 24px;
  text-align: center;
  margin: 30px;
}

.welcome-index {
  margin: 0 auto;
  width: 1000px;
}

.index-tracks {
  width: 930px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.welcome-index-items {
  float: left;
}

.welcome-index-item {
  display: block;
  height: 160px;
  width: 200px;
  text-align: center;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.welcome-index-item:hover {
  cursor: pointer;
}

div.track-welcome-image {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  height: 85px;
  width: 110px;
  position: relative;
}

img.welcome-image {
  position: absolute;
  height: 85px;
  overflow: hidden;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}

.welcome-index-item-details {

}

.welcome-index-item-details > li {
  padding: 5px;
}

.welcome-index-item-artist {
  font-size: 12px;
  color: #aaa;
  vertical-align: bottom;
}

.welcome-index-item-title {
  margin-top: 5px;
  font-size: 14px;
  color: #000;
}

.welcome-index-item:hover {
  border: 1px solid #000;
}
